body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}
select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}
select option[disabled] {
    color: #777;
}