body {
    background-color: #1e1e1e;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333333;
}

td {
    background-color: #444444;
}

tr:nth-child(even) {
    background-color: #333333;
}

tr:hover {
    background-color: #555555;
}