body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 15px;
}

.block {
    width: 200px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #333;
    color: #555;
}
@media screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}